<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% set basePath = app.request.basePath ~ '/index.php' %}

        <header class="site-header">
            <nav class="navbar">
                <div class="logo">
                    <a href="{{ basePath }}/me">MySite</a>
                </div>
                <ul class="nav-links">
                    <li><a href="{{ basePath }}/me">Me</a></li>
                    <li><a href="{{ basePath }}/about">About</a></li>
                    <li><a href="{{ basePath }}/lucky">Lucky Number</a></li>
                    <li><a href="{{ basePath }}/report">Report</a></li>
                    <li><a href="{{ basePath }}/api">API</a></li>
                    <li><a href="{{ basePath }}/card">Cards</a></li>
                </ul>
            </nav>
        </header>

        <main class="site-main">
            {% block body %}{% endblock %}
        </main>

        <footer class="site-footer">
            <p>&copy; 2025 | Cornelia Björn | Kurs: MVC | <a href="#">Till toppen</a></p>
        </footer>
    </body>
</html>
